@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: Overpass, sans-serif;
    background-color: hsl(216, 12%, 8%);
    color: white;
    min-width: 300px;
}
main{
    background-color: hsl(213, 19%, 18%);
    padding: 2.2rem;
    border-radius: 2rem;
    width: 430px;
    /* height: 421.47px; */
    max-height: auto;
}
.star-container{
    background-color: hsl(215, 17%, 27%);
    width: min-content;
    padding: .8rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 2.5rem;
}
.first-card h1+p{
    margin-top: .6rem;
    color: hsl(217, 12%, 63%);
}
.rating-container{
    display: flex;
    justify-content: space-between;
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
}
div[class^="rate-container"]{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(215, 17%, 27%);
    width: 50px;
    max-width: 100%;
    height: 50px;
    border-radius: 50%;
    color: hsl(217, 12%, 63%);
    font-weight: 700;
    transition: all 150ms ease-in-out;
}
button{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: .1rem;
    width: 100%;

    padding: .9rem 0;
    border-radius: 50px;
    background-color: hsl(25, 97%, 53%);
    transition: all 150ms ease-in-out;
}
/* 
Hover for first card
*/
div[class^="rate-container"]:hover{
    cursor: pointer;
    background-color: hsl(25, 97%, 53%);
    color: hsl(216, 12%, 8%);
}
button:hover{
    cursor: pointer;
    background-color: white;
}

.isClicked.isClicked{
    background-color: white;
    color: hsl(216, 12%, 8%);
}

/* 



Second card 



*/
.second-card{
    display: none;
}
.second-card-flex{
    display: flex;
    justify-content: center;
    align-self: center;
    height: 351px;
}
.inner-second-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inner-second-card img{
    margin-bottom: 2rem;
}
.rating{
    background-color: hsl(215, 17%, 27%);
    padding: 0.5rem 1rem;
    padding-top: 0.6rem;
    height: 34px;
    border-radius: 20px;
    margin-bottom: 2rem;
}
.rating p{

    color: hsl(25, 97%, 53%);;
    font-size: 14px;
}
.inner-second-card h1{
    margin-bottom: .7rem;
}
.inner-second-card h1+p{
    text-align:center;
    color: hsl(217, 12%, 63%);
}

/* 



Media query



*/

@media screen and (max-width:350px) {
    div[class^="rate-container"]{
        width: 40px;
        height: 40px;
    }
    div[class^="rate-container"] p{
        font-size: .8rem;
    }
}